<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>750895020389-slotj2efsucbabp0ek8mob812o7a5m6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750895020389-slotj2efsucbabp0ek8mob812o7a5m6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCB4ptdW0Mf6XTA19nKIHj3dlF2wTOlSoI</string>
	<key>GCM_SENDER_ID</key>
	<string>750895020389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosdoki.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-95db4</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-95db4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:750895020389:ios:f7facebc735195b8</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-95db4.firebaseio.com</string>
</dict>
</plist>